#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.artistImages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
  height: auto;
}

.artistImages img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 8px;
}

body {
  position: relative;
}

.user-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  width: auto;
  height: auto;
  display: flex;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 58px;
  right: 10px;
  border-radius: 4px;
  padding: 0.6em 0.6em;
}

.square {
  width: 170px;
  height: 50px;
  background-color: #656565;
}

.search {
  margin-top: 20px;
}

.home-image {
  filter: invert(1);
  width: auto;
  height: auto;
  max-width: 18px;
  max-height: 18px;
  vertical-align: text-bottom;
  margin-left: 7px;
  margin-right: 7px;
}

.logout-image {
  filter: invert(1);
  width: auto;
  height: auto;
  max-width: 18px;
  max-height: 14px;
  vertical-align: -5%;
  margin-left: 10px;
}

.link-image {
  filter: invert(1);
  width: auto;
  height: auto;
  max-width: 14px;
  max-height: 14px;
  vertical-align: -5%;
  margin-left: 7px;
  margin-right: 7px;
}

h3 {
  font-size: 1em;
  margin-top: 16px;
  position: absolute;
  top: 2px;
  left: 12px;
  display: flex;
}

.menu-image {
  filter: invert(1);
  width: auto;
  height: auto;
  max-width: 15px;
  max-height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}

#sideNav {
  position: fixed;
  top: 58px;
  left: 12px;
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;
  border-radius: 40px;
  margin-left: -100px;
}